@charset "UTF-8";

.main.event {
  display: inline-block;
}

.main.event.news p.event_title {
  font-family: "GangwonEduPowerExtraBoldA";
  color: #0c5c00;
  font-size: 25px;
}

.main.event.news div.line {
  height: 4px;
  margin-bottom: 9px
}

.main.event.news ul {
  font-size: 20px;
  font-family: "LINESeedKR";
}

.main.event.news ul li {
  color: #666;
  letter-spacing: -2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 7px 0px;
  height: 50px;
}

.main.event.news ul li span {
  width: 127px;
  display: inline-block;
  text-align: center;
  color: #000;
  position: relative;
  transform: translateY(-5px);
}

.main.event.news ul li span::before {
  content: url("../images/event_sub.png");
  position: absolute;
  left: -10px;
  transform: translateY(2px);
}

.main.event.news ul li p {
  display: inline-block;
  width: 186px;
  height: 25px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.naver_search {
  width: 320px;
  border: 3px solid #00c73c;
  display: flex;
  margin-top: 30px;
}

.naver_search form {
  display: flex;
  width: 100%;
}

.naver_search form input {
  height: 50px;
  width: 80%;
  outline: none;
  border: none;
  font-family: "LINESeedKR-Bd";
  padding: 14px 10px 10px;
  font-size: 20px;
}

.naver_search .btn_search {
  background-color: #00c73c;
  border: none;
  width: 20%;
}
.card {
  font-size: 20px;
  color: #000;
  font-family: "MYHaemalgeunSangsang";
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
  margin-top: 20px;
  width: 300px;
  /* height: 400px; */
  /* background-color: #00acee; */
  text-align: center;
  /* border: 2px solid #1d9042; */
  /* background-image: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url(../doc/날씨.png); */
  background-image: url(../images/날씨.png);
  background-size: cover;
  height: 210px;
}
.card .nowtime {
  font-size: 30px;
  padding-top: 10px;
  font-family: "LINESeedKR-Bd";
}
#humidity {
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
}
#ic {
  width: 70px;
  height: 70px;
}
.card:hover {
  cursor: pointer;
}
.banner:hover {
  cursor: pointer;
}
.banner div {
  padding: 10px 0 10px 0;
}
.event_pagi {
  display: flex;
  justify-content: center;
}
.main.event.news a {
  text-decoration: none;
  color: #0c5c00;
  float: left;
  padding: 0px 8px;
  transition: background-color .3s;
  font-size: 25px;
}

.main.event.news a.active {
  background-color: #4CAF50; /* 현재 페이지의 배경 색 */
  color: white; /* 현재 페이지의 텍스트 색 */
}

.main.event.news a:hover:not(.active) {background-color: #ddd;}