@charset "UTF-8";
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroL";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Th";
  src: url("../fonts/LINESeedKR-Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("../fonts/LINESeedKR-Rg.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR";
  src: url("../fonts/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  background-color: #1d9042;
}
<<<<<<< HEAD
.head:hover {
  cursor: pointer;
}
=======

>>>>>>> 5bcf1cb020956732b4bde1bf0017d6a376393a1d
header {
  color: white;
  font-family: "SBAggroB";
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}

header p {
  font-size: 20px;
}

header h1 {
  font-size: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  display: flex;
<<<<<<< HEAD
  flex-wrap: wrap;
}

.wrapper {
  padding: 50px 30px;
  width: 100%;
}

.title {
  font-family: "GangwonEduPowerExtraBoldA";
  font-size: 30px;
  color: #0c5c00;
}
.img {
  display: none;
}

.scroll {
  transform: translateX(-50px);
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: #1d9042;
}
.scroll_button {
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: none;
  text-shadow: 2px 2px 2px black;
}

.scroll:hover {
  cursor: pointer;
}
.scroll:hover .img {
  display: block;
}

input#search::placeholder {
  color: white;
}
=======
  flex-wrap: wrap;  
}

.img {
  display: none;
}
.scroll.button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #1d9042;
  color: white;
  font-weight: bold;
}
.scroll:hover {
  cursor: pointer;  
}
.scroll:hover .img  {
  display: block;
}
>>>>>>> 5bcf1cb020956732b4bde1bf0017d6a376393a1d
