* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
}

h1 {
  width: 60%;
  margin: 10px auto;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
  text-align: center;
}

table {
  width: 60%;
  margin: 10px auto;
  padding: 1.2rem auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid black;
}

table tr,
table td {
  margin: 5px auto;
  padding: 3px 5px 3px 5px;
  border: 1px solid rgb(66, 66, 66);
}
