<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- car-mapper.xml 과 dao.CarDao interface를 연동 -->
<mapper namespace="com.callor.car.persistance.CarDao">

	<select id="findTachoByCarNum">
	select * from tbl_carmanager
    where c_carnum = #{carnum}
    order by c_sdate desc, c_stime desc
    limit 1
	</select>


	<select id="findUserSelectLimit">
		SELECT 
		c_seq, c_carnum, c_qty, c_username, c_sdate, c_stime,
		c_goal, c_edate, c_etime, c_skm, c_ekm, c_cost
		FROM tbl_car
		LIMIT 10
	</select>
	
	

	<insert id="insert">
		insert into tbl_carmanager(
		c_carnum, c_qty, c_username, c_sdate, c_stime, c_skm
		) values (
		#{c_carnum}, #{c_qty}, #{c_username}, #{c_sdate}, #{c_stime}, #{c_skm}
		)
	</insert>

	<select id="create_carm_table">
		create table if not exists tbl_carmanager (
			c_seq	bigint		primary key	auto_increment,
			c_carnum	varchar(15)	not null,		
			c_qty	varchar(10)	not null,		
			c_username	varchar(20)	not null,		
			c_sdate	varchar(10)	not null,		
			c_stime	varchar(10)	not null,		
			c_goal	varchar(30),		
			c_edate	varchar(15),			
			c_etime	varchar(10),			
			c_skm	int,			
			c_ekm	int,			
			c_cost	int
	    );
	
	</select>
</mapper> 
