<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.file.dao.BBsDao">
	
	<select id="selectAll" resultType="BBsDto">
		select * from tbl_bbs order by b_seq DESC
	</select>
	
	<select id="fintById" resultType="BBsDto" parameterType="Long">
		select * from tbl_bbs where b_seq = #{id}
	</select>
	
	<update id="update" parameterType="BBsDto">
		update tbl_bbs set (
		b_title = #{b_title}, b_content = #{b_content},	b_nickname = #{b_nickname},	b_password = #{b_password},
		b_ccode = #{b_ccode}, b_date =  #{b_date}, b_image = #{b_image} , b_viewcount = #{b_viewcount}, b_origin_image = #{b_origin_image}	
		where b_seq = #{b_seq}
		)
		
	</update>
	
	<insert id="insert">
	insert table tbl_bbs(
	b_title, b_content,	b_nickname,	b_password,
	b_ccode, b_date, b_image, b_viewcount, b_origin_image
	) values (
	#{b_title}, #{b_content},	#{b_nickname},	#{b_password},
	#{b_ccode}, #{b_date}, #{b_image}, #{b_viewcount}, #{b_origin_image}
	)
	</insert>
	
	<select id="create_bbs_table">
	create table tbl_bbs(
	b_seq bigint primary key auto_increment,
	b_title varchar(125),
	b_content varchar(1000),
	b_nickname varchar(125),
	b_password varchar(125),
	b_ccode varchar(6),
	b_date varchar(10),
	b_image varchar(125),
	b_origin_image varchar(125),
	b_viewcount bigint
	)
	</select>
</mapper> 