<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.file.dao.FileDao">

	<select id="create_file_table">
		create table tbl_file(
		f_seq bigint primary key auto_increment,
		f_bseq bigint,
		f_image varchar(125),
		f_origin_image varchar(125)
		);
	</select>
</mapper> 