<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- car-mapper.xml 과 dao.CarDao interface를 연동 -->
<mapper namespace="com.callor.car.dao.CarDao">

	<select id="findUserSelectLimit">
		SELECT c_seq, c_cate, c_sdate, c_stime,
		c_skm, c_edate, c_etime, c_ekm, c_place, c_fee
		FROM tbl_car
		LIMIT 10
	</select>

	<insert id="insert">
		insert into tbl_car(
		c_cate, c_sdate, c_stime,
		c_skm, c_edate, c_etime, c_ekm, c_place, c_fee
		) values (
		#{c_cate}, #{c_sdate}, #{c_stime},
		#{c_skm}, #{c_edate}, #{c_etime}, #{c_ekm}, #{c_place}, #{c_fee}
		)
	</insert>

</mapper> 